body {
  margin: 5px;
  font-family: 'Ghibli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ca9dc9;
}

.image{
  width: 500px;
  height: 300px;
}

.title{
  text-align: center;
  font-family: 'Ghibli', sans-serif;
}

.all-films{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.film{
  width: 500px;
  font-family: 'Ghibli', sans-serif;
}

.searchBar{
  margin: auto;
  display: block;
  font-family: 'Ghibli', sans-serif;
}

